* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: grey;
}

body.active {
    background: white;
}

#headingText {
    /* border: 2px solid red; */
    font-size: 200px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    color: black
}

.mainContainer {
    /* border: 2px solid red; */
    display: flex;
    margin-top: 20px;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;

}

#toggleSwitch {
    /* border: 2px solid red; */
    position: relative;
    display: block;
    width: 1500px;
    height: 500px;
    background: black;
    border-radius: 500px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1),
        inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggleSwitch.active {
    background: white;
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
        inset 0 2px 8px rgba(0, 0, 0, 0.1),
        inset 0 -4px 8px rgba(0, 0, 0, 0.05);
}

#toggleSwitch .indicatorIcon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #444, #222);
    transform: scale(0.9);
    box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.5),
        inset 0 4px 4px rgba(0, 0, 0, 0.2),
        inset 0 -4px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

#toggleSwitch.active .indicatorIcon {
    left: 1040px;
    background: linear-gradient(to bottom, rgb(251, 226, 226), white);
    box-shadow: inset 0 8px 40px rgba(220, 218, 218, 0.5),
    inset 0 4px 4px rgba(179, 178, 178, 0.2),
    inset 0 -4px 4px rgba(171, 171, 171, 0.2);
}